@font-face {
	font-family: 'Museo Sans 900';
	src: url('font/museosans_900-webfont.woff2') format('woff2'),
			 url('font/museosans_900-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans 300';
	src: url('font/museosans-300-webfont.woff2') format('woff2'),
			 url('font/museosans-300-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo { width: 80%; }

.eslogan {
	font-family: 'Museo Sans 300', sans-serif;
	font-size: 1.2rem;
	text-align: center;
	margin-top: 2.4rem;
	margin-bottom: 1.2rem;
	color: #131313;
}

.eslogan .fuerza { font-family: 'Museo Sans 900', sans-serif; }

.eslogan .punto { color: #ff5300; }

.invitacion {
	margin: 0;
	font-family: 'Museo Sans 300', sans-serif;
	font-size: 1rem;
}

a {
	text-decoration: none;
	color: #131313;
	padding: 8px 12px;
	border-radius: 6px;
	transition: background-color .6s;
}

a:hover { background-color: #ddd; }

.flecha { transition: color .2s; }

a:hover .flecha { color: #ff5300; }


@media (min-width: 640px) {

	.logo { width: 60%; }

	.eslogan {
		font-size: 1.6rem;
		margin-top: 3.2rem;
		margin-bottom: 1.6rem;
	}

	.invitacion { font-size: 1.2rem; }

	a { padding: 12px 16px; }
}

@media (min-width: 960px) {

	.logo { width: 40%; }

	.eslogan {
		font-size: 2rem;
		margin-top: 4rem;
		margin-bottom: 2rem;
	}

	.invitacion { font-size: 1.4rem; }

	a { padding: 16px 20px; }
}
